

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.gameHeader{
	text-align: center;
}

.gameHeadDescription{
	text-align: center;
}

.col1{
	text-align: center;
}

.col2{
	text-align: center;
}

.col3{
	text-align: center;
}

#clickButton{
	text-align: center;
	padding-top: 50%;
}










